body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    background: white;
    background: radial-gradient(circle,#fff 70%,#ccc);
    background-size: cover;
}

#calculator{
    width:325px;
    height: auto;
    margin: 100px auto;
    padding:20px 20px 9px;
    background: rgba(108, 160, 209, 0.589);
    background: linear-gradient(rgba(108, 160, 209, 0.589),rgba(49, 4, 78, 0.589));
    border-radius: 4px;
    box-shadow: 0px 4px rgba(21, 119, 211, 0.589), 0px  10px 15px rgba(0,0,0.2);
}

.top span.clear{
float:left;

}

.top #screen{
    height: 40px;
    width:200px;
    float:right;
    margin-right:12px;
    padding:0 10px;
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0,0,0, 0.4);
    font-size: 17px;
    line-height: 40px;
    color:white;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
    text-align:right;
    letter-spacing: 1px;
}

.keys, .top{
    overflow: hidden;
}

.keys span, .top span.clear{
    float:left;
    position:relative;
    top:0;

    cursor: pointer;
    width: 66px;
    height:36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px  rgba(0,0,0, 0.4);

    margin: 0px 7px 11px 0px;
    margin-left: 8px;
    color: #888;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.4s ease;

}

.keys span.operator{
    background: #FFF;
    margin-right: 0;
}

.keys span.eval{
    background: #f1ff83;
    box-shadow: 0px 4px rgb(54, 87, 62);
    color:#888e5f;
}

.top span.clear{
    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color:white;
}



.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}


.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

